button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
/* отображаем курсор в виде руки при наведении; некоторые
  считают, что необходимо оставлять стрелочный вид для кнопок */
  cursor: pointer;
}

html{
	font-size: 10vmin;
}

body {
	background: #aed6f1;
	font-family: 'Quicksand', sans-serif;
	text-align: center;
	font-size: 1rem;
}

#name p {
	margin: 0.3rem;
}

#objective {
	font-size: 0.3rem;
}

#tutorial {
	visibility: hidden;
	/*display: none;*/
}

/*.hide {
	opacity: 0;
	transition: opacity 0.8s ease-in,
				height 0.7s ease-in 0.8s;
	height: 0.1rem;
}*/
.hide {
	opacity: 0;
	transition: opacity 0.5s ease-in,
				height 0.5s ease-in 0.3s;
	height: 0.1rem;
}


.show {
	opacity: 1;
	transition: opacity 0.5s ease-in 0.3s,
				height 0.5s ease-in;
	height: 1.5rem;
	/*transition: height 0.7s ease-in;*/
}



#readTutorialButton {
	font-family: 'Quicksand', sans-serif;
	min-width: 3rem;
	max-width: 3rem;
	width: 3rem;
	min-height: 0.5rem;
	max-height: 0.5rem
	height: 0.5rem;
	border-radius: 0.1rem;
	font-size: 100%;
	border: 0.025rem;
	background: #e9ecee;
	transition: all 0.3s ease-in;
	outline: none;
}

#readTutorialButton:hover {
	font-family: 'Quicksand', sans-serif;
	min-width: 3rem;
	max-width: 3rem;
	width: 3rem;
	min-height: 0.5rem;
	max-height: 0.5rem
	height: 0.5rem;
	border-radius: 0.1rem;
	font-size: 100%;
	border: 0.025rem;
	background: #d5d8dc;
	transform: scale(0.95);
}

#readTutorialButton:active {
	font-family: 'Quicksand', sans-serif;
	min-width: 3rem;
	max-width: 3rem;
	width: 3rem;
	min-height: 0.5rem;
	max-height: 0.5rem
	height: 0.5rem;
	border-radius: 0.1rem;
	font-size: 90%;
	border: 0.025rem;
	background: #abb2b9;
	transform: scale(0.95);
}



#tutorial {
	font-size: 0.2rem;
	/*display: flex;*/
    /*align-items: center;*/
/*    justify-content: center;
    height: 100%;*/
}

#buttonSection {
	/*height: 3.1rem;*/
	/*margin: 0.01rem 0.5rem 0.5rem 0.5rem;*/
	display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}


#startButton {
	font-family: 'Quicksand', sans-serif;
	text-align: center;
	width: 3rem;
	height: 1rem;
	font-size: 0.5rem;
	/*border: 0.025rem;*/
	border-radius: 0.1rem;
	/*margin: 0.2rem;*/
	background: #5cade2;
	transition: all 0.3s ease-in;
	outline: none;
}

#startButton:hover {
	font-family: 'Quicksand', sans-serif;
	text-align: center;
	width: 3rem;
	height: 1rem;
	font-size: 0.5rem;
	/*border: 0.025rem;*/
	border-radius: 0.1rem;
	/*margin: 0.2rem;*/
	background: #3398da;
	transform: scale(0.95);
}

#startButton:active {
	font-family: 'Quicksand', sans-serif;
	text-align: center;
	width: 3rem;
	height: 1rem;
	font-size: 0.45rem;
	/*border: 0.025rem;*/
	border-radius: 0.1rem;
	/*margin: 0.2rem;*/
	background: #2f86c1;
	transform: scale(0.95);
}

#target {
	display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    padding-top: 0.3rem;
}

#target table {
	margin: auto;
	padding:  0rem 0.3rem;
	background: #e9ecee;
	border-radius: 1rem;
	border-spacing: 0.2rem;
	border-collapse: separate;
		/*width: 95vmax;*/

	/*max-width: 95vw;*/
}


#target td {
	border: solid black;
	border-radius: 2rem; 
	width: 1rem;
	height: 1rem;
	/*min-width: 0.75rem;*/
	/*min-height:0.75rem;*/
	/*max-width: 0.75rem;*/
	/*max-height: 0.75rem;*/
	font-size: 0.1rem;
	/*height: 1rem;*/
}


#field {
	visibility: hidden;
	display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

#field table {
	margin: auto;
	/*padding:  0.1rem 0.5rem;*/
	/*border-spacing: 0.2rem;*/

}


#field td {
	border: 0.05rem;
	/*display: inline-block;*/
	width: 1rem;
	background: #e9ecee;
	border-radius: 0.1rem;
	font-size: 1rem;
	transition: all 0.5s ease-in;
}

#field td:hover {
	border: 0.05rem;
	/*display: inline-block;*/
	width: 1rem;
	background: #abb2b9;
	border-radius: 0.1rem;
	font-size: 1rem;
	transform: scale(0.75);
}

#field td:active {
	border: 0.05rem;
	/*display: inline-block;*/
	width: 1rem;
	background: #566573;
	border-radius: 0.1rem;
	font-size: 0.9rem;
	transform: scale(0.75);
}




#stats {
	font-size: 0.2rem;
}

#stats p{
	padding: 0;
	margin: 0;
}