html{
	font-size: 10vh;
}

body {
	background: #aed6f1;
	font-family: 'Quicksand', sans-serif;
	text-align: center;
	font-size: 1rem;
}

#name p {
	margin: 0.3rem;
}

#objective {
	font-size: 0.3rem;
}

#tutorial {
	font-size: 0.2rem;
}


table {
	margin: auto;
}

td {
	/*border: 0.05rem;*/
	width: 1rem;
	background: #e9ecee;
	border-radius: 0.1rem;
	font-size: 1rem;
}

td:hover {
	/*border: 0.05rem;*/
	width: 1rem;
	background: #abb2b9;
	border-radius: 0.1rem;
	font-size: 1rem;
}

td:active {
	/*border: 0.05rem;*/
	width: 1rem;
	background: #566573;
	border-radius: 0.1rem;
	font-size: 0.9rem;
}

#startButton {
	font-family: 'Quicksand', sans-serif;
	text-align: center;
	width: 3rem;
	height: 1.5rem;
	font-size: 0.5rem;
	border: 0.025rem;
	border-radius: 0.1rem;
	margin: 1rem;
	background: #5cade2;
}

#startButton:hover {
	font-family: 'Quicksand', sans-serif;
	text-align: center;
	width: 3rem;
	height: 1.5rem;
	font-size: 0.5rem;
	border: 0.025rem;
	border-radius: 0.1rem;
	margin: 1rem;
	background: #3398da;
}

#startButton:active {
	font-family: 'Quicksand', sans-serif;
	text-align: center;
	width: 3rem;
	height: 1.5rem;
	font-size: 0.475rem;
	border: 0.025rem;
	border-radius: 0.1rem;
	margin: 1rem;
	background: #2f86c1;
}

/*div {

		position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%)
}

p {

} 

span {
	font-size: 1.5em;
}

p#f5 {
	font-size: 0.4em;
}*/
