.controlPanel {
  display: grid;
  grid-template-columns: 3em fit-content(2em) 3em;
  grid-template-rows: 4em;
  padding: 1rem;
  grid-template-areas: ". b c";
  justify-content: center;
}

.controlPanelUnitButtons {
  grid-area: b;
  align-self: center;
  justify-self: center;
}

.controlPanelUnitStats {
  grid-area: c;
  align-self: center;
  justify-self: center;
}
