.mainHeader {
  display: grid;
  grid-template-columns: 75px 1fr 75px;
  /* padding: 0.5em; */
  margin: 0 auto;
  background-color: rgb(100, 100, 100);
  padding: 1rem;
  font-size: 1.5rem;
}

.headerText {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}
